body {
    padding: 0;
    margin: 0;
    background-color: #25239f;
    height: auto;
}

section {
    z-index: 50;
    padding: 0;
    margin: 0;
    min-height: 110%;
}


header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 3% 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header div {
    color: #FFFEFE;
    font-family: "Anton", sans-serif;
}

.title {
    font-size: 40;
    display: inline-block;
    position: relative;
}

.title:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFFEFE;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.title:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30;

}

.links div {
    margin-right: 10%;
    display: inline-block;
    position: relative;
    visibility: hidden;
}

.links div.displayed {
    visibility: visible;
    animation-timing-function: ease-in;
    animation: fadeIn 1s; 
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-100px); }
    100% { opacity: 1;}
  }

.links div:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFFEFE;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.links div:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content { 
    background-color: #25239f;
}

.about {
    color: #FFFEFE;
    font-family: "Anton", sans-serif;
    font-size: 25;
}

.skills {
    color: #FFFEFE;
    font-family: "Anton", sans-serif;
    font-size: 25;
}

.work {
    color: #FFFEFE;
    font-family: "Anton", sans-serif;
    font-size: 25;
}
.contact {
    color: #FFFEFE;
    font-family: "Anton", sans-serif;
    font-size: 25;
}



