img {
  height: 30vh;
}

.container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  height: 50%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

.message {
  font-size: 30px;
  font-family: "Anton", sans-serif;
  color: #fcf6f5ff;
  padding: 10%;
}
