.container {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  color: #adefd1ff;
}

.projectHeader {
  text-align: center;
  width: 100%;
}

.previewContainer {
  width: 15vw;
  height: 40vh;
  margin: 3%;
  background-color: black;
}

.imageContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  height: 100%;
}

.projectImg {
  width: 100%;
}
.previewText {
  z-index: 2;
}
