header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 3% 5%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  color: #fffefe;
  font-family: "Anton", sans-serif;
}

.title {
  font-size: 30px;
  display: inline-block;
  position: relative;
  cursor: default;
}

.title:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fffefe;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.title:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a {
  color: inherit;
  text-decoration: none;
}

.links {
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 25px;
  flex-direction: row;
}

.link {
  margin: 7%;
  display: inline-block;
  position: relative;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
  }
}

.link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fffefe;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
